.button {
    position: fixed;
    bottom: 0px;
    background-color: var(--calloutColor);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.button span {
    position: relative;
    left: 14px;
    top: 2px;
    color: var(--titleColor);
    font-weight: bold;
    font-size: 24px;
}