:root {
  --bgColor: #192229;
  --containerColor: #212E36;
  --borderColor: #2A3B47;
  --secondBgColor: #A0A7AC;
  --fontColor: #C8CDD0;
  --titleColor: #EFF3F5;
  --calloutColor: #52A5E0;
  --dangerColor: #C21516;
}

body {
  margin: 0;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
  color: var(--fontColor);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 650px;
  margin: 0 auto;
  background-color: var(--containerColor);
  border-radius: 12px;
  border: var(--borderColor) 1px solid;
}

@media (max-width:750px) {
  #root {
    width: 100%;
  }
}