li {
    display: flex;
    width: 360px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: var(--secondBgColor);
    color: var(--bgColor);
    border-radius: 5px;
}

li div {
    text-align: left;
    width: 290px;
}

li div p {
    margin: 0;
    font-size: 12px;
}

.check {
    font-size: 25px;
}

.true {
    background-color: var(--borderColor);
}

.true div p {
    text-decoration: line-through;
}