li {
    display: flex;
    width: 360px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    background-color: var(--secondBgColor);
    color: var(--bgColor);
    border-radius: 5px;
}

li .text {
    text-align: left;
    width: 290px;
}

li .text p {
    margin: 0;
    font-size: 12px;
}

.check {
    font-size: 25px;
}

.true {
    background-color: var(--borderColor);
}

.true .text p {
    text-decoration: line-through;
}

.delete {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--dangerColor);
    position: relative;
    bottom: 20px;
    right: -15px;
}

.delete span {
    position: relative;
    left: 6px;
    bottom: 4px;
    font-size: 13px;
    color: var(--titleColor);
    font-weight: bold;
}

@media (max-width:750px) {
    li {
      width: 95%;
    }

    .delete {
        width: 2em;
        height: 2em;
        bottom: 0px;
        right: -18px;
    }

    .delete span {
        left: 11px;
        top: 2px;
        font-size: 17px;
    }
}